//style container page
.container{
    padding-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center; 
}


//style form 
form{
    width: 100%;
}

.form-container{
    width: 100%;
    position: relative;
    left: 15px;
}

input{
    width: 85%;
}

.form-group{
    margin-bottom: 25px;
}

//style buttons
.btn{
    text-align: center;
}

.btn-save{
    position: relative;
    top:15px;
    right: 75px;
}

.btn-reset{
    position: relative;
    top:15px;
    left: 60px;
}

//style card 
.card-body{
    padding-bottom: 50px;
}

//date font
input[type="date"] {
    font-family: sans-serif;
}

//disable form
.disabled{
    opacity: 0.5;
}