//style container page
.container{
    padding-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
}


//style table
.table-container{
    max-width: 800px;
    height: 310px;
    overflow-x: auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
    margin: 0 auto;
}

.table thead th {
    padding: 8px 20px;
    text-align: center;
}

th{
    white-space: nowrap;
}

.table td {
    padding: 8px 12px;
}

table thead {
    background-color: #f8f9fa;
    color: #343a40;
}

table tbody tr {
    border-top: 1px solid #dee2e6;
    white-space: nowrap;
}

//styles body table
.actions{
    padding-bottom: 70px;
}

td{
    padding: 1px 25px;
    margin: 5px; 

}
th{
    padding: 1px 25px; 
    margin: 5px;
}

//style header table 

.search{
    display: flex;
    justify-content: flex-start;
}

.btn{
    display: flex;
    justify-content: flex-end;
}

//style image
.logo{
    width: 45px;
    height: 45px;
    border-radius: 50%;    
    border: 1px solid rgb(141, 141, 141);
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//style pagination
.pagination{
    padding: 20px 0px 45px 0px;
}

select{
    padding: 3px 15px 3px 15px;  
}


//style total results
.results{
    display: flex;
    justify-content: flex-start;
}

.index{
    display: flex;
    justify-content: flex-end;
}

//style options
.icon-options{
    rotate: 90deg;
}


.dropdown-container {
    position: relative;
    /* Asegura que el contenedor tenga una posición relativa */
    display: inline-block; /* Alinea los contenedores en línea */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    color: #fff;
    border: none;
    padding: 0px 50px;
    cursor: pointer;
    z-index: 2;

}

.dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 0px;
    bottom: -35px;
    left: 65px;
    z-index: 3;
}

.dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px 10px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.2s;
    text-align: left;
    z-index: 4;
}

.dropdown-content a:hover {
    background-color: #ddd;
}