//style pagination
select{
    padding: 3px 15px 3px 13px;  
}

.select-container {
    width: 70px; 
    overflow: hidden; 
    position: relative;
}

.custom-select {
    width: 100%;
    padding: 3px 15px 3px 13px;
    cursor: pointer;
    background-color: #f9f9f9;
}