select{
    padding: 3px 15px 3px 15px;  
}

.select-container {
    width: 200px; /* Establece el ancho deseado */
    overflow: hidden; /* Oculta el desbordamiento */
    position: relative;
}

/* Estilo para el select */
.custom-select {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: #f9f9f9;
}